@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;1,100&display=swap");
.bookContainer {
  width: 870px;
  height: 177px;
  background: #ffffff 0% 0% no-repeat padding-box;
  display: inline-block;
  margin: 3px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000017;
  border-radius: 10px;
  opacity: 1;
}
.info {
  margin: 20px;
}
.imageSection {
  float: left;
  height: 177px;
}
.AddedUpdatedInfo {
  display: block;
  margin-bottom: 0px;
  font-family: "Montserrat";
  font-size: 16px;
  color: #0d242e;
}
.detailsLink {
  height: 100%;
  display: inline-block;
  width: 34px;
}
.created {
  display: inline;
  font-family: "Montserrat";
  font-weight: 500;
  opacity: 1;
  height: 19px;
  font-size: 16px;
}
.updated {
  display: inline;
  margin-left: 100px;
  font-family: "Montserrat";
  font-weight: 500;
  opacity: 1;
  height: 19px;
  font-size: 16px;
}
.bookGenre {
  font-family: "Montserrat";
  font-weight: 500;
  opacity: 1;
  font-size: 16px;
  height: 19px;
}

.semibold {
  font-family: "Montserrat-SemiBold";
  font-size: 16px;
  font-weight: bold;
}
.bookImage {
  display: block;
  float: left;
  height: 177px;
}
.bookInfoSection {
  height: 177px;
  position: relative;
  float: left;
}
.btnDetailsDiv {
  display: inline-block;
  float: right;
  height: 177px;
}
.bookTitle {
  font-family: "Montserrat-Bold";
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0px;
  text-transform: uppercase;
}
.bookAuthor {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 16px;
  color: #1076b5;
  letter-spacing: 0px;
}
.detailsBtn {
  height: 100%;
  width: 34px;
  background: transparent url("./static/Polygon\ 23.png") 50% 50% no-repeat
    padding-box;
  opacity: 1;
  background-color: #1076b5;
}
@media only screen and (max-width: 500px) {
  #catalogDiv {
    background-color: aqua;
  }
}
