@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;1,100&display=swap");
#nav-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 63px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}
.backToLibrary {
  top: 22px;
  left: 81px;
  width: 63px;
  height: auto;
  position: absolute;
  text-align: left;
  font-family: 'Montserrat';
  font-size: 18px;
  letter-spacing: 0px;
  color: #0d242e;
  opacity: 1;
}
.backBtn {
  position: absolute;
  background: transparent
    url("/src/components/NavComponent/static/Polygon\ 39.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  top: 22px;
  left: 49px;
  width: 14px;
  height: 22px;
  transform: matrix(-1, 1, 0, 0, 0);
}
.profileImage {
  position: absolute;
  background: 0% 0% no-repeat padding-box;
  opacity: 1;
  top: 15px;
  left: 1837px;
  width: 33px;
  height: 33px;
}
.logoImage {
  position: absolute;
  top: 17px;
  left: 50px;
  width: 136px;
  height: 30px;
  opacity: 1;
}
.navList {
  position: absolute;
  top: 22px;
  left: 841px;
  width: 239px;
  height: 41px;
}
.uLNav {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.uLNav li {
  font: normal normal normal 16px/22px Montserrat;
  text-transform: uppercase;
  letter-spacing: 0;
  text-decoration: none;
  display: inline;
  margin: 10px;

  padding: 4px;
}
.uLNav li a {
  text-decoration: none;
  text-align: left;

  font-size: 16px;
  letter-spacing: 0px;
  color: #0d242e;
  text-transform: uppercase;
  opacity: 1;
}
@media only screen and (max-width: 500px) {
  #nav-container {
    background-color: aqua;
  }
}
.navl {
  border-bottom: 4px solid #08c642;
  font-weight: bold;
}
.boldText {
  font-weight: bold;
}
