.registerDiv {
  display: inline-block;
  position: absolute;
  top: 40px;
  left: 40px;
  width: 1840px;
  height: 1000px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 15px #00347026;
  opacity: 1;
}
#registerForm {
  position: absolute;
  display: inline-block;
}
.redirectDiv {
  position: absolute;
  display: block;
  top: 791px;
  left: 253px;
  width: 345px;
  height: 19px;
  text-align: center;
  letter-spacing: 0px;
  word-spacing: 0px;
  opacity: 1;
}

.visible {
  position: absolute;
  margin-top: 3px;
}
.labelEmailReg {
  position: absolute;
  top: 422px;
  left: 175px;
  width: 45px;
  height: 19px;
  text-align: left;
  font: normal normal 300 16px/22px Montserrat;
  letter-spacing: 0px;
  color: #0d242e;
  opacity: 1;
}
.labelPasswordReg {
  position: absolute;
  top: 534px;
  left: 175px;
  width: 76px;
  height: 19px;
  text-align: left;
  font: normal normal 300 16px/22px Montserrat;
  letter-spacing: 0px;
  color: #0d242e;
  opacity: 1;
}
.labelRePassReg {
  position: absolute;
  top: 646px;
  left: 175px;
  width: 137px;
  height: 19px;
  text-align: left;
  font-family: Montserrat;
  font-weight: lighter;
  font-size: 16px;
  letter-spacing: 0px;
  color: #0d242e;
  opacity: 1;
}
.inpPassReg {
  top: 563px;
  left: 175px;
  background-image: url("./static/view.png");
  background-position: right 5px center;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}
.inpRePass {
  top: 675px;
  left: 175px;
  background-image: url("./static/view.png");
  background-position: right 5px center;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}
.icon {
  display: inline-block;
  opacity: 1;
  position: absolute;
  z-index: 1;
  left: 8px;
  top: 10px;
  color: #979faf;
  font-size: 26px;
}
.inpEmailReg {
  top: 451px;
  left: 175px;
}
.inp {
  position: absolute;
  width: 500px;
  height: 42px;
  border: 0.5px solid #0d242e;
  border-radius: 5px;
  opacity: 1;
}
.logoImgDivReg {
  position: absolute;
  top: 175px;
  left: 236px;
  width: 378px;
  height: 82px;
  background: transparent
    url("/src/components/Register/static/Exclusion\ 1.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}
.headWellcome {
  position: relative;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  top: 300px;
  left: 200px;
  width: 450px;
  height: 24px;
  text-align: center;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0;
  color: #0d242e;
  text-transform: uppercase;
  opacity: 1;
}
.headCreateProfile {
  position: absolute;
  top: 345px;
  left: 315px;
  width: 220px;
  height: 22px;
  text-align: center;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0px;
  color: #0d242e;
  text-transform: uppercase;
  opacity: 1;
}
.loginImageDiv {
  display: inline-block;
  position: absolute;
  left: 810px;
  width: 1070px;
  height: 1000px;
  background: transparent
    url("/src/components/Register/static/Group\ 19445.png") 0% 0% no-repeat
    padding-box;
  opacity: 100%;
}
.regBtn {
  display: block;
  position: absolute;
  top: 829px;
  left: 175px;
  width: 500px;
  height: 42px;
  color: #ffffff;
  background: #1076b5 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
}
.regButnParagraph {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 70px;
  height: 19px;
  text-align: left;
  font: normal normal bold 16px/22px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}
.redirectToLoginDiv {
  position: absolute;
  top: 926px;
  left: 281px;
  width: 288px;
  height: 19px;
}
