@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;1,100&display=swap");
.loginDiv {
  display: inline-block;
  position: absolute;
  top: 40px;
  left: 40px;
  width: 1840px;
  height: 1000px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 15px #00347026;
  opacity: 1;
}
#LoginForm {
  display: inline-block;
  position: absolute;
}
.redirectDiv {
  position: absolute;
  display: block;
  top: 791px;
  left: 253px;
  width: 345px;
  height: 19px;
  text-align: center;
  letter-spacing: 0px;
  word-spacing: 0px;
  opacity: 1;
}
.linkToRegister {
  margin: 0;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 225px;
  height: 19px;
  text-align: right;
  font-family: "Montserrat";
  font-size: 16px;
  letter-spacing: 0px;
  color: #0d242e;
}
.regLink {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 225px;
  width: 120px;
  height: 19px;
  text-align: left;
  text-decoration: underline;
  font-family: "Montserrat-Bold";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #1076b5;
  text-transform: uppercase;
}
.labelEmail {
  position: absolute;
  top: 422px;
  left: 175px;
  width: 45px;
  height: 19px;
  text-align: left;
  font-family: "Montserrat-Light";
  font-size: 16px;
  letter-spacing: 0px;
  color: #0d242e;
  opacity: 1;
}
.labelPassword {
  position: absolute;
  top: 534px;
  left: 175px;
  width: 76px;
  height: 19px;
  text-align: left;
  font-family: "Montserrat-Light";
  font-size: 16px;
  letter-spacing: 0px;
  color: #0d242e;
  opacity: 1;
}
.visibleIcon {
  background-image: url("./static/visible.png");
  background-position: right 5px center;

  background-repeat: no-repeat;
}
.hidden {
  background-image: url("./static/view.png");
  background-position: right 5px center;

  background-repeat: no-repeat;
}
.showError {
  top: 300px;
  left: 120px;
  position: relative;
  display: flex;
  height: auto;
  width: 600px;
  margin-left: 25px;
  background-color: rgb(247, 52, 52);
  border: 4px solid #2e353d26;
  color: rgb(236, 229, 229);
  font-size: 15px;
  align-items: flex-start;
  border-radius: 5px;
}
.showError p {
  display: flex;
}
.hideError {
  display: none;
}
.inpPass {
  position: relative;
  top: 563px;
  left: 175px;
  display: block;
}
.revealPassword {
  cursor: pointer;
  position: absolute;
  top: 613px;
  left: 566px;
  width: 109px;
  height: 15px;
  text-align: right;
  text-decoration: underline;
  font-family: "Montserrat";
  font-size: 12px;
  letter-spacing: 0px;
  color: #1076b5;
  opacity: 1;
  border: none;
  background-color: none;
}
.revealPassword:hover {
  color: grey;
}
.icon {
  display: inline-block;
  opacity: 1;
  position: absolute;
  z-index: 1;
  left: 8px;
  top: 10px;
  color: #979faf;
  font-size: 26px;
}
.inpEmail {
  top: 451px;
  left: 175px;
}
.inp {
  position: absolute;
  font-family: "Montserrat-Medium";
  font-size: 16px;
  width: 500px;
  height: 42px;
  border: 0.5px solid #0d242e;
  border-radius: 5px;
  opacity: 1;
}
.logoImgDivHid{display: none;}
.logoImgDiv {
  position: absolute;
  top: 175px;
  left: 236px;
  width: 378px;
  height: 82px;
  background: transparent url("/src/components/Login/static/Exclusion\ 1.png")
    0% 0% no-repeat padding-box;
  opacity: 1;
}
.headWellcomeLogin {
  position: absolute;
  top: 300px;
  left: 333px;
  width: 184px;
  height: 24px;
  text-align: center;
  font-family: "Montserrat-Bold";
  font-size: 20px;
  letter-spacing: 0px;
  color: #0d242e;
  text-transform: uppercase;
  opacity: 1;
}
.loginImageDiv {
  display: inline-block;
  position: absolute;
  left: 810px;
  width: 1070px;
  height: 1000px;
  background: transparent url("/src/components/Login/static/Group\ 19445.png")
    0% 0% no-repeat padding-box;
  opacity: 100%;
}
.loginBtn {
  display: block;
  position: absolute;
  top: 694px;
  left: 175px;
  width: 500px;
  height: 42px;
  color: #ffffff;
  background: #08c642 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
}
.logButnParagraph {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 58px;
  height: 19px;
  text-align: left;
  font-family: "Montserrat-Bold";
  font-size: 16px;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}

.labelLogin {
  position: absolute;
  top: 422px;
  left: 175px;
  width: 45px;
  height: 19px;
  text-align: left;
  font: normal normal 300 16px/22px Montserrat;
  letter-spacing: 0px;
  color: #0d242e;
  opacity: 1;
}
#viewButton {
  background-image: url("./static/view.png");
}
@media only screen and (max-width: 420px) {

  .logoImgDiv{display: none;}
 
  .loginDiv{
    top: 187px;
left: 14px;
right:14px;
width: 374px;
height: 523px;
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 8px;
opacity: 0.85;
box-shadow: none
  }
  .headWellcomeLogin{
    position: absolute;
    top: 34px;
    left: 115px;
    width: 184px;
    height: 24px;
text-align: center;
font: normal normal bold 20px/30px Montserrat;
letter-spacing: 0px;
color: #0D242E;
text-transform: uppercase;
opacity: 1;
  }
  .labelPassword{
    position: absolute;
    top: 214px;
left: 12px;
width: 76px;
height: 19px;

text-align: left;
font: normal normal 300 16px/22px Montserrat;
letter-spacing: 0px;
color: #0D242E;
opacity: 1;
  }
  .labelEmail{
    position: absolute;
    top: 98px;
left: 12px;
width: 45px;
height: 19px;
font: normal normal 300 16px/22px Montserrat;
letter-spacing: 0px;
color: #0D242E;
opacity: 1;
  }
  .inpEmail{
position: absolute;
top: 132px;
left: 12px;
width: 346px;
height: 42px;

border: 0.5px solid #0D242E;
border-radius: 5px;
opacity: 1;
  }
  .inpPass{
    top: 248px;
left: 12px;

  }
  .inp{
    position: absolute;
    font-family: "Montserrat-Medium";
    font-size: 16px;
    width: 346px;
height: 42px;

border: 1px solid #0D242E;
border-radius: 5px;
opacity: 1;
  }
  
    .loginBtn{
      position:absolute;
      top: 378px;
left: 12px;
width: 346px;
height: 42px;

background: #08C642 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
    }
.logButnParagraph{
  position:absolute;
  top: 11px;
left: 144px;
width: 58px;
height: 19px;
text-align: left;
font: normal normal bold 16px/22px Montserrat;
letter-spacing: 0px;
color: #FFFFFF;
text-transform: uppercase;
opacity: 1;
}
.revealPassword{
  top: 302px;
left: 271px;
width: 109px;
height: 15px;
text-align: left;
text-decoration: underline;
font: normal normal normal 12px/16px Montserrat;
letter-spacing: 0px;
color: #1076B5;
opacity: 1;
}
.linkToRegister{
  position:absolute;
  top: 0px;
  left: 0px;
  width: 225px;
  height: 19px;
  display: inline-block;
  margin:0;
  text-align: right;
  font-family:'Montserrat';
  font-weight: normal;
  font-size:18px;
  letter-spacing: 0px;
  color: #0D242E;
  text-transform: none;
  word-spacing: 0;
}
.regLink{
  
  right: 12px;
  
height: 19px;
position: absolute;

text-align: left;

font-family:'Montserrat-Bold';
font-size: 16px;
text-decoration: underline;

letter-spacing: 0px;
color: #1076B5;
text-transform: uppercase;
}
.redirectDiv{top: 465px;
  left: 14.5px;
  width: 345px;
  height: 19px;
  text-align: left;
  letter-spacing: 0px;
  text-transform: uppercase;
  opacity: 1;
 word-spacing: 0;
position: absolute;}
.loginImageDiv{
  display: none;
}
}
